header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
    background-color: white;

}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}